
{% extends 'base.html' %}
{% block title %}Product Detail{% endblock %}
{% block content %}
<div class="container py-4">
    <div class="card mb-4">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image_url or url_for('static', filename='img/default-product.png') }}" class="img-fluid rounded-start" alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
                    <p class="card-text"><strong>Description:</strong> {{ product.description }}</p>
                    <a href="{{ url_for('cart.add_to_cart', product_id=product.id) }}" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
